@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Lato&family=Staatliches&family=Dosis&family=Roboto:wght@300&display=swap');
:root{
    /* --primary-color:rgb(224, 79, 53); */
    --primary-color:#c0392b;
   --secondary-color:rgb(65, 245, 236);
   --sub-color:#374353;
   --bg-color: #EBECE4;
   --green-color:#325D07;
   --option-bg:#f9f9f9;
   --purpl-color:#da70d6;
   --sue-me: #3a4e62;
   /* --yell-col: #fab131; */
   --yell-col: #f2aa4cff;
   --blu-col:#29487D;
   
}

html{
    scroll-behavior: smooth
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;  
}
body{
    font-family: 'dosis', sans-serif;
    background-color: var(--option-bg);
    padding-bottom: 50px;
    line-height: 1.5;
    ;
   }
   /* ///////////////////////////////////////utality classes/////////////// */
   /* section{
       width: 100%;
       margin: auto;
   } */
   .mxwidth{
    max-width: 1300px;
    margin: auto;
} 
.main-header{
    font-size: 50px;
    color: var(--blu-col);
}
.main-header-col-2{
    font-size: 50px;
    color: var(--yell-col);
}
.mrg-mid{
    margin-top: 80px; 
}
.mrg{
    margin-top: 1rem;
}
.mrg-big{
    margin-top: 2rem;
}
.py-1{
    padding: 5rem;
}
a{
    display: inline-block;
    text-decoration: none;
}

   .container{
       width: 100%;
       max-width: 1300px;
       margin: 0 auto;
       
       
   }
   .nav-contain{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
   }
   .second-header {
    font-size: 20px;
    text-align:center;
    color:var(--sub-color); 
    
}
.txt{
    text-align: center;
}

h1{
    font-family: 'dosis', sans-serif;
}
h2{
    font-family: 'lato', sans-serif;
    font-size: 15px;
    color:var(--sub-color);
}
h3{
    font-family: 'Roboto',sans-serif;
}
h4{
    font-size: 13px;
    font-family: 'Roboto', cursive;
}
p{
    font-family: 'dosis', cursive;
    font-size: 15px;
}
.card{
    background: #fff;
    padding:  1rem;
}
.a-tag{
    display: inline-block;
    text-decoration: none;
    color: #555;
    background:var(--yell-col);
    font-size: 0.5rem;
    text-transform: uppercase;
    padding: 0.3rem 0.5rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}
 /* ///////////////own-btn////////////////// */
 .own-btn:link,
 .own-btn:visited{
     font-size: 0.9rem;
     text-transform: uppercase;
     text-decoration: none;
     padding: 6px 15px;
     color: #333;
     display: inline-block;
     border-radius: 10rem;
     transition: all .3s;
     position: relative;
     background: linear-gradient(120deg, var(--yell-col)0%,var(--bg-color)50%,var(--yell-col)50%);
     background-size: 210%;
     background-position: 0;
     
     
 }
 .own-btn:hover{
     transform: translateY(-3px);
     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
     background-position:  100%;
     color: #fff;
 }
 
 .own-btn:active{
     transform: translateY(-1px);
     color: #fff;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
 }

   /* *****************Nav-Work***************************** */
   .nav{
       width: 100%;
       position: fixed;
       background-color: rgba(0,0,0,0.4);
       font-family: 'Pacifico', sans-serif;
       top: 0;
       left: 0;
       right: 0;
       transition: all 0.3s ease-in-out;
       z-index: 100;
   }
   .nav .nav-contain{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 0.7rem 0;
       transition:  all 0.3s  ease-in-out;
   }
   .nav ul{
       display: flex;
       list-style: none;
       align-items: center;
       justify-content: center;
   }
   .nav a,.nav.lia{
       color:   #fff;
       text-decoration: none;
       padding: 0 15px;
       font-size: 13px;
       transition:  all 0.3s  ease-in-out;
        transform: scale(0.8);
       
   }
   .nav.act{
       background-color:#fff;
       box-shadow:  0 2px 10px rgba(0,0,0,0.5);
    
   }
   .nav.act a{
       color: #000;
   }
   .nav.act .logo{
       color: #fff;
   }
   .nav.act .nav-contain{
       padding: 0.4rem 0;
   }
   .lia.current{
    color: var(--primary-color);
    font-weight: bold;
    transform: scale(1);
     
   }
   .lia.current, .lia:hover{
       color: var(--primary-color);
       font-weight: bold;
       transform: scale(1);
       
   }
  .nav .logo img{
    /* background-color: var(--primary-color); */
    /* background-color: var(--yell-col); */
    /* font-size: 18px; */
    width: 80px;
    height: 50px;
    
}
/* .d-dev{
 border:  2px solid var(--yell-col);
 padding: 20px;
 border-radius: 50%;
} */
   /* ********************************************* */



   .hero{
       background-image: url(img/bgg.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       background-position:center;
       height: 100vh;
       color: #fff;
       /* background-position: bottom center; */
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       position: relative;
       /* margin-bottom: 20px; */
       z-index: -2;
        
   }
   .hero::before{
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       /* background-color: rgba(0,0,0,0.7); */
       background: linear-gradient(to right bottom,
    rgba(0,0,0,0.9),
    rgba(0,0,0,0.4));
    z-index: -1;
       
       
   }
    .hero .header-1{
        font-size: 80px;
        margin:-20px 0 20px ;
        font-family: 'Pacifico', sans-serif;
        color: var(--primary-color);
        font-weight:bold;
        animation: showup 0.5s ease-in-out;
        
    }
    
    .hero h2{
        color: var(--yell-col);
        font-size: 1.5rem;
        letter-spacing: 3px;
        animation: showup 2.5s ease-in-out;
    }
    .hero h3{
        font-size: 1rem;
        color: #f9f9f9;
        letter-spacing: 3px;
        animation: showup 3.5s ease-in-out;
    }
    @keyframes showup {
        0%   { opacity: 0;}
        50%  { opacity: 0; transform: translateY(100px);}
        100% { transform: scale(1) translateY(0px);}
      }
    .time-date{
        position: absolute;
        bottom: 50px;
        right: 50px;
        font-family: "Roboto", sans-serif;
        
    }
    .d-dev   {
        font-family: 'Pacifico', sans-serif;
        font-size:15px;
        color: var(--yell-col);
    }
    .d-dev-1{
        position: absolute;
        bottom:78px;
        right: 412px;
        
    }
    
    .d-dev-2 {
        position: absolute;
        bottom:200px;
        right: 250px;
        transform: rotateZ(10deg);
        background-color: #292929;
        padding: 0 10px;
    }

.colr{
    background:rgba(255,255,255); 
    border-radius: 20px;
    margin-right: 10px;
    padding: 10px;
}
/* ///////////////////////////hero section/////////////////////////// */
.sidebar ul{
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    position: fixed;
    top: 30%;
    left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;

    
}
.sidebar ul li{
    list-style: none;
    margin-top: 10px;    
}
i{
    font-size: 25px;
    transition:  0.8s;
    transform: scale(0.8);
    padding: 10px;
    color:var(--secondary-color);
}
.sidebar ul li a{
    display: inline-block;
    text-decoration: none;
    }

.sidebar ul li i:hover{
    transition:  0.5s;
    transform: scale(1);
    color: var(--primary-color);
    /* transform: translate(-100px); */
}
.active{
color:var(--primary-color);
transition:  0.5s;
transform: scale(1);
}

/* ////////////////////////////////////////////////////////////////////////////// */
#about{
    padding: 8rem 0;
    text-align: center;
    background-color: var(--yell-col);
    
 
}
.about{
    margin: auto;
    
}

.about h1{
    font-size: 35px;
    color: #29487D;
}
      .about-content{
    /* width: 100%; */
    padding: 10px;
    /* display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center; */
    /* border: 2px solid rebeccapurple; */
    margin-top: 50px;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    /* grid-gap: 1rem; */
   }
   .about-content-1{
       width:100%;
       /* border: 2px solid red; */
        padding: 5px;
        text-align: center;
        margin: 0 5px;
        line-height: 1.8rem;
        transition:  all 1s ease-in-out ;
   }
   .about-content-1:hover{
       transform: translateY(-20px) scale(1.05);
       
   }
   .about-content-1 h2{
        font-size: 20px;
        text-align:center;
        color:var(--primary-color); 
   
   }
   .about-content p{
    color: #333;
       justify-content: center;
      
   }
   .about-content i{
       font-size: 50px;
       color: var(--sub-color);
       display: inline-block;
       
   }
   .about-content-1:hover i{
    
    color: var(--primary-color);
    transform: rotateY(160deg);
    
}
.about-content-1:hover{
    transform: translateY(-20px) scale(1.05);
    
}
.about-content-1:hover h2{
    /* color:  var(--secondary-color); */
    color: #fff;
}
.about-content-1:hover p{
    /* color:  var(--purpl-color); */
    color: var(--sub-color);
}


/* <!-- /////////////////////////////////Projects-Section///////////////////////////////// --> */
#projects{
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 8rem 0;
}
#projects h1{
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
    color: orange;
}
.pro-heading{
    margin-bottom: 2rem;
    width: 220px;
    padding: 0.5rem;
    
}
.projects-contianer{
        display: grid;
        /* grid-template-columns: repeat(3,1fr); */
        grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
        grid-gap: 1rem;
    }
    .card{
        height: 500px;
        padding: 12px;
    }
    .card img{
        width: 100%;
        height: 60%;

    }
    .card p{
        font-family: 'dosis', sans-serif;
    }
    /* ///////////////////////////////////////skills///////////////////////////////// */
    /*******************************************My Skills**********************************************************/
#skills{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    padding: 5rem;
    
}
.skills-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
/* .skills-container h1{
    font-family: fantasy;
    color: var(--blu-col);
} */
.skills-box h3{
    text-align: left;
    color: var(--sub-color);
}
.skills-boxes{

    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    /* grid-template-columns: repeat(500px,1fr); */
    grid-gap: 1rem;
    margin: auto;
    margin-top: 1rem;;
    padding: 1rem;
    justify-content: center;
    /* align-items: center; */
    /* border: 2px solid red; */
    
}

.myskills{
    width: 100%;
    padding: 5px;
    /* border: 2px solid red; */
}
.myskills i{
    color: var(--blu-col);
}
.progress{
    overflow: hidden;
    height: 20px;
    width: 100%;
    background-color: var(--sub-color);
    border-radius: 5px;
    margin-bottom: 0.3 rem;
}
.progress div{
    height: 100%;
    text-align: center;
    background-color:var(--yell-col);
    
} 

.bar h4{
    color: var(--option-bg);
    font-size: 13px;
    font-weight: lighter;

}
.skills-details{
    width: 100%; 
    /* border: 2px solid yellow; */
}

.skills-details-item{
    
    display: flex;
    flex-direction: rows;
    align-items: center ;
    /* justify-content: center; */
    align-items: center;
    color: var(--primary-color);
    margin-top: 13px;
    /* border: 2px solid green; */
 
}
.skills-details-item a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--primary-color);
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.5s;
}
.skills-details-item:hover a{
 transform: scale(1);
}

.skills-details-item i{
    font-size: 35px;
    color: var(--blu-col);
}
/* //////////////////////////////////////////education///////////////////////////////////////////////// */
#education{
    text-align: center;
    padding: 3rem 0;
}
.education-section{
 background-color: var(--bg-color);
 padding: 2rem 0;
 padding-bottom: 3rem;

}
.education-section h1{
    color: var(--blu-col);
    font-family: 'Lato',cursive;
}

.education{
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    margin: auto;
    justify-content: center;
    align-items: center;    
    margin-top: 1rem;;
    
}

.edu{
    transform: scale(1);
    transition: 0.4s transform ease-in-out;

}
.edu h3{
   color: var(--green-color);
}
.edu h4{
    color: var(--sub-color);
 }
.edu i{
    font-size: 50px;
    color: var(--yell-col);
}
.edu:hover{
    transform: scale(1.1);
}

/* //////////////////Introduction///////////////////////////////////////////////////// */
#introduction{
    margin-top: 5rem;
    padding: 3rem 0;
    
    

}
.introduction-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    /* border: 2px solid red; */
    
}
.intro-box{
    
    display: flex;
    /* justify-content: flex-end; */
    background-color: var(--sub-color);
    height: 300px;
    align-items: center;
    /* border: 2px solid red;; */
}
.intro-img{
    justify-content: flex-end;
}

.intro-img img{
    width: 420px;
    height: 440px;
    padding: 5px;     
    transition: .5s padding ease-in-out;
}
.intro-box img:hover{
    padding: 0;
    border: 0;
}
.intro-2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border:  2px solid red; */
    padding-left: 3rem;
    line-height: 1.8;
}
.intro-2 h1{
    font-size: 35px;
    font-family: 'pacifico', fantasy;
    font-weight: bold;
    color:var(--yell-col);
}
.intro-2 p{
    font-size: 20px;
    letter-spacing: 3px;
    color:#fff
}
.intro-2 a{
    color: #fff;
    background-color: var(--yell-col);
    padding: 5px 50px;
    border-radius:25px;
    margin-top: 5px;
}

/* //////////////////////////////////Footer///////////////////////////// */
#footer{
    position: absolute;
    width:100%;
}
footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,2fr));
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background: var(--sue-me);
    /* border-top: 2px solid var(--secondary-color);
    border-bottom: 5px solid var(--secondary-color); */
  margin: auto 0;
}
.footer-items{
    text-align: center;
    color:#fff;
}
.footer-items h2{
    color: VAR(--bg-color);
}

footer i{
    transform: scale(0.8);
    font-size: 2.6rem;
}
footer i:hover{
    transform: scale(1.2);
}
.teacher a{
    text-decoration: none;
    display:inline-block;
    font-size: 1rem;
    color: var(--yell-col);
    cursor: pointer;
    transform: scale(0.9);
    transition: 0.5s;
    
    
}
.teacher:hover a {
    transform: scale(1);
    
}
/* .message{
    width: 300px;
    padding: 2rem;
    text-align: center;
    background-color: #f9f9f9;
    position: fixed;
    bottom: 20%;
    right: 0%;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.8);
    transition: all 2s ease-in;
     animation:  showmessage 0.5s ease-in-out ;
     
     
    
    
}
@keyframes showmessage {
    0%{opacity: 0;
        transform: scale(0);
    
    }
    50%  { opacity: 1; transform: scale(1.1);
        transform: scale(1);
        transform: scale(1.1);}
     
     80%  { opacity: 1; transform: scale(1);
     }
        
     
       100%{
        
            transform: scale(1);}
  }
.message-show{
    display: none;
    opacity: 0;
    transform: scale(0);
    
    
}
.btn-remove{
    border: 2px solid orange;
    background-color: orange;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: -16%;
    transition: 1s ease-in;
    
   
}
.btn-remove-btn{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    transform: rotateZ(-45deg);
    
    
}
.right{
    content: "";
    width: 30px;
    height: 5px;
    background-color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.left{
    content: "";
    width: 30px;
    height: 5px;
    background-color: #ffff;
    position: absolute;
    top: 50%;
    left: 18%;
    
    transform: rotate(90deg);
    
}
.message-show .btn-remove-btn{
    transform: rotateZ(-45deg);
}
.message-show .btn-remove{
    transition: 1s ease-in;
    left: -15%;
} */
/* ///////////////git copt///////////////////// */

.message{
    width: 300px;
    padding: 2rem;
    text-align: center;
    background-color: #f9f9f9;
    position: fixed;
    bottom: 20%;
    right: -16px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.8);
    /* display: none; */
    transition: 1s all ease-in-out;
    animation:  showmessage 1s ease-in 5S;
    animation-fill-mode: backwards;
    
    
}
@keyframes showmessage {
    0%{opacity: 0;
        transform: scale(0);
    
    }
    50%  { opacity: 1; transform: scale(1.1);
        transform: scale(1);
        transform: scale(1.1);}
     
     80%  { opacity: 1; transform: scale(1);
     }
        
     
       100%{
        
            transform: scale(1);}
  }
.message-show{
    /* display: block; */
    /* opacity: 1; */
    transform: scale(1);
    right: -300px;
    transition: 1s all ease-in-out;
    
}
.btn-remove{
    border: 2px solid var(--yell-col);
    background-color: var(--yell-col);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: -16%;
    transition: 1s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
   
}
.btn-remove-btn{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    transform: rotateZ(-45deg);
    transition: 1s ease-in;
    /* border: 2px solid gray; */
    
}
.right{
    content: "";
    width: 30px;
    height: 5px;
    background-color: #ffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.left{
    content: "";
    width: 30px;
    height: 5px;
    background-color: #ffff;
    position: absolute;
    top: 50%;
    left: 18%;
    
    transform: rotate(90deg);
    
}
.message-show .btn-remove-btn{
    /* background-color: blue; */
    /* transform: rotateZ(0deg); */
    transform: rotate(540deg);
}
.message-show .btn-remove{
    /* background-color: blue; */
    
}
/* .message-show .btn-remove{
    transition: 1s ease-in;
    left: -15%;
} */

/* //////////////////////////////Mob Responsive////////////////////// */
@media(max-width:60rem){
    .hero .header-1{
        font-size: 35px;
    }
    .main-header, .main-header-col-2{
        font-size: 25px;
    }
  .nav .nav-contain{
      padding: 20px 5px;
  }
  .nav a{
      font-size: 10px;
  } 
  .hero h1{
      font-size: 20px;
  }
  
  .hero h2{
    font-size: 15px;
}
.hero h3{
    font-size: 0.8rem;
}
  .d-dev{
      display: none;
  } 
  #projects{
    
    width: 100%;
    margin: auto;
    padding: 3rem 0;
    
}
#projects h1{
 text-align: center;
 margin-bottom: 1rem;
}
  .projects-contianer{
      width: 100%;
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap:  0.5rem;
}
.card{
    height: 400px;
    padding: 10px;

}
.card img{
    height: 55%
}
#skills{
    padding: 1rem 0;
}
.skills-boxes{
    padding: 5px;
}
#introduction{
    padding: 1rem 0;
    margin: 0;
     
}
.introduction-container{
    padding:0;
}
.intro-box{
    justify-content: center;
    align-items: center;
}
.intro-box img{
    height: 300px;
    width: 100%;
    padding: 0;
    transform: translate(0);
}
.intro-2{
    padding: 8px;

    
}
.intro-2 p{
    font-size: 15px;
}
.footer-items h2{
    font-size: 16px;
    
}
.message-shownothing{
    opacity: 0;
    display: none;
}

}
